# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
s r c / . e n v 
 
 s r c / . e n v 
 
 
# Environment variables
.env
src/.env
. e n v  
 s r c / . e n v  

# Python local caches
__pycache__/
*.py[cod]
*$py.class
src/__pycache__/
src/**/__pycache__/

# Local sqlite databases
instance/
*.db

# Local media assets upload directory
/Images/